/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
/artifacts
/logs
/.tools
/.tmp
/.local
/docs/superpowers
/verify-profile.json
/signingConfigs.json5
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
*.codepoints
*.otf
*.ttc
*.ttf
!entry/src/main/resources/rawfile/fonts/material_symbols_rounded.ttf
*.woff
*.woff2
*.hap
*.hsp
*.har
*.p12
*.cer
*.p7b
*.pem
*.key
*.pfx
*.jks
*.keystore
*.csr
