/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
/artifacts
/logs
/.tools
/.local
/scripts
/docs/superpowers
/verify-profile.json
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
*.hap
*.hsp
*.har
*.p12
*.cer
*.p7b
